/* Toggle Section Control*/
#sub-accordion-panel-spark_multipurpose_home_panel .customize-info .customize-panel-description {
    display: block !important;
}

.control-section-toggle-section .spark-multipurpose-toggle-section,
.control-section-sidebar .spark-multipurpose-toggle-section {
    text-decoration: none;
    margin-right: 10px;
    vertical-align: middle;
}

.control-section-toggle-section .spark-multipurpose-toggle-section .dashicons,
.control-section-sidebar .spark-multipurpose-toggle-section .dashicons {
    font-size: 16px;
    vertical-align: middle;
}

.spark-multipurpose-section-visible .spark-multipurpose-toggle-section {
    color: #929292;
}

#customize-theme-controls .accordion-section-title.spark-multipurpose-section-hidden,
.spark-multipurpose-section-hidden .spark-multipurpose-toggle-section,
#sub-accordion-panel-spark_multipurpose_home_panel .control-section .spark-multipurpose-section-hidden.accordion-section-title:before {
    color: #dcdcdc;
}

.spark-multipurpose-toggle-section {
    float: right
}

/**
** Customizer Control css 
*/
.customizer-hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    left: -1000px;
    display: none !important;
}

#customize-theme-controls .accordion-section-title.spark-multipurpose-section-hidden,
.spark-multipurpose-section-hidden .spark-multipurpose-toggle-section,
#sub-accordion-panel-spark_multipurpose_home_panel .control-section .spark-multipurpose-section-hidden.accordion-section-title:before {
    color: #dcdcdc;
}