/**
 * Widget Color
*/
#widget-list [id*='_spark_multipurpose_'] .widget-top,
#widget-list [id*='_spark_multipurpose_'] h3 {
    background: rgba(191, 191, 191, 0.4);
}

/**
 * Widget Label Custom Design
*/
.spark_multipurpose_title {
    vertical-align: middle;
    background: #4696b3;
    display: inline-block;
    padding: 3px 0;
    text-align: left;
    margin-bottom: 2px;
    font-weight: 600;
    color: #fff;
    width: 100%;
}

/**
 * Repeater Field
*/
.repeater-top {
    padding: 0;
    cursor: move;
    background: #fafafa none repeat scroll 0 0;
    color: #23282d;
    line-height: 1.4em;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.repeater-title h3,
.repeater-title h4 {
    -moz-user-select: none;
    font-size: 1em;
    line-height: 1;
    margin: 0;
    overflow: hidden;
    padding: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.repeater-title-action {
    float: right;
    position: relative;
}

.repeater-action {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    margin: 0;
    outline: 0 none;
    padding: 10px;
    color: #555d66;
}

.repeater-action .toggle-indicator:before {
    border-radius: 50%;
    padding: 1px 2px 1px 0;
    display: block;
    font: 400 20px/1 dashicons;
    content: "\f140";
    text-decoration: none;
}

.repeater-table.open .repeater-action .toggle-indicator:before {
    content: "\f142";
}

#accordion-section-spark_multipurpose_maintenance_section .accordion-section-title:before {
    content: "\f321";
}

#accordion-section-static_front_page .accordion-section-title:before {
    content: "\f102";
}

#accordion-section-colors .accordion-section-title:before {
    content: "\f131";
}


#accordion-section-spark_multipurpose_footer .accordion-section-title:before {
    content: "\f175";
}

#accordion-panel-typography .accordion-section-title:before {
    content: '\f215';
}

.repeater-inside,
.repeater-fields {
    line-height: 16px;
    padding: 10px 15px 15px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.sortable-placeholder {
    border: 1px dashed #b4b9be;
    margin: 0 auto 10px;
    height: 45px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.repeater-control-actions {
    padding-top: 5px;
}

.repeater-control-actions .hidden {
    display: block !important;
}

#accordion-panel-spark_multipurpose_frontpage_settings h3.accordion-section-title {
    background-color: #dfdfdf;
    border-bottom: 1px solid #ddd;
}